.saved__news-card {
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
  padding: 62px 102px;
  height: 1392px;
}

.saved__news-cards-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .saved__news-card {
    width: 600px;
    height: 912px;
    
  }

  .saved__news-cards-container {
    width: 950px;
    margin-left: -60px;

  }
}
