.saved__news-card {
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
  padding: 40px;
  height: auto;
}

.saved__news-cards-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}


@media screen and (max-width: 768px) {
  .saved__news-card {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .saved__news-card {
    width: auto;
    height: auto;
    padding: 20px 10px;
  }

  .saved__news-cards-container {
    display: flex;
    width: auto;
    margin-left: 25px;
    flex-direction: column;
  }
}
