.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px;
  border-bottom: 1px solid rgba(246, 244, 244, 0.7);
  position: relative;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.05);
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
}

.nav__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
}

.nav__user-container {
  display: flex;
  align-items: center;
  gap: 42px;
}

.nav__button-home {
  border: none;
  background: none;
  cursor: pointer;
  color: #ffffff;
}

.nav__button-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border-radius: 100px;
  padding: 12px;
  width: 152px;
  color: #ffffff;
  border: 1px solid #ffffff;
}
