.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 104px;
  border-bottom: 1px solid rgba(246, 244, 244, 0.7);
  z-index: 1000;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  font-family: roboto-slab;
  line-height: 24px;
  margin-left: 560px;
}

.nav__user-container {
  display: flex;
  align-items: center;
  gap: 42px;
}

.nav__button-home {
  border: none;
  background: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  font-family: roboto;
  line-height: 24px;
  
}

.nav__button-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border-radius: 100px;
  padding: 12px;
  width: 176px;
  height: 48px;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-right: 560px;
}
