.footer {
  height: 64px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 104px;
  width: 1645px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  color: #b6bcbf;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  line-height: 22px;
  margin-left: 25px;
}

.footer__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__link-home {
  margin-right: 40px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  line-height: 24px;
  color: #1a1b22;
}

.footer__link-triplenTen {
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  line-height: 24px;
  color: #1a1b22;
}

.footer__link-github {
  padding: 0 24px 0 40px;
}

.footer__link-icon {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 768px;
    height: 64px;
  }

  .footer__content {
    align-items: flex-start;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 18px;
    margin-left: -80px;
  }

  .footer__link-home,
  .footer__link-triplenTen {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
  }

  .footer__link-icon {
    margin-right: 16px;
  }
}

/* Tested on My Samsung S24 Ultra */
@media screen and (max-width: 430px) {
  .footer {
    width: 460px;
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
  }

  .footer__copyright {
    position: absolute;
    padding: 10px;
    margin-top: 80px;
    margin-left: -50px;
  }

  .footer__links {
    margin-left: 30px;
  } 

  .footer__link-home {
    margin-left: -70px;
  }

  .footer__link-triplenTen {
    margin-top: 40px;
    margin-left: -85px;
  }

  .footer__link-github {
    margin-right: -90px;
  }

  .footer__link-facebook {
    margin-right: -120px;
  }

  .footer__link-icon {
    margin-left: 80px;
    margin-top: 10px;
  }
}
