.news__card-section {
  display: flex;
  background: #f9f9f9;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  gap: 24px;
}

.news__cards-header {
  margin: 60px;
  font-size: 40px;
  line-height: 46px;
  font-family: Roboto-Slab, Arial, sans-serif;
  font-weight: 400;
  color: black;
}

.news__cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex-direction: row;
  justify-content: center;
  margin: -20px;
}

.newscards__button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.newscards__button_hidden {
  display: none;
}

.newscards__button:hover {
  background-color: #0056b3;
}
